:root {
  --cor_1: #2196f3;
  --cor_2: #3d5afe;
  --cor_3: #0d47a1;
  --header_heigth: 200px;
  --default_font: verdana;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.flex {
  display: flex;
}

header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--header_heigth);
  border-bottom: 1px solid black;
  background: linear-gradient(to right, var(--cor_2), var(--cor_3));
}

header h1,
header h2 {
  text-align: center;
  color: white;
  font-family: var(--default_font);
}

header h1 {
  font-size: 10vh;
}

header h2 {
  font-size: 3vh;
}

div#header-bottom {
  position: absolute;
  background-color: white;
  border-radius: 100%;
  padding: 5px;
  top: 25%;
}

div#header-bottom span {
  font-size: 5vw;
  color: var(--cor_1);
  cursor: pointer;
  transition: color 500ms;
}

div#header-bottom span:hover {
  color: var(--cor_2);
}

main {
  width: 300px;
  border: 1px solid black;
  margin: 10px auto;
  padding: 15px 20px;
}

main form .outer {
  flex-direction: column;
}
main form .outer li {
  font-size: 1rem;
  width: 100%;
  list-style-type: none;
  margin-bottom: 5px;
}

main form .outer li input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  margin: 0;
  padding: 3px 5px;
  border-radius: 5px;
}

main form .outer li input[type="text"]:disabled {
  background-color: grey;
  border: 1px solid black;
  color: white;
  font-weight: bold;
}

main form .outer li input[type="submit"] {
  width: 100%;
  margin: 0;
  padding: 10px 5px;
  background-color: var(--cor_1);
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px var(--cor_3);
}

main form .outer li input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--cor_3)
}

footer {
  border-top: 1px solid black;
  height: 40px;
  background-color: var(--cor_1);
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: whitesmoke;
}
