:root {
  --cor_header_background: #0e3ba3;
  --cor_heder_font: #ffe150;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #c3cbdc;
  background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
}

header {
  background-color: var(--cor_header_background);
  margin: 0 30px;
  transition: 1s;
  padding-left: 15px;
  color: var(--cor_heder_font);
  box-shadow: 2px 2px black;
}

.questions {
  margin: 0 30px;
  transition: 1s;
  text-align: justify;
}

ul {
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  box-shadow: 2px 2px black;
}

li {
  font-size: 20px;
  width: 15%;
  height: 100%;
  display: inline-block;
  margin: 5% 0;
  color: white;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #342f35;
  color: white;
  margin: 30px;
  box-shadow: 2px 2px black;
  padding: 5px 0;
  transition: 1s;
  padding-left: 15px;
  bottom: 0;
}
